// @import "materialize";
@import "../node_modules/materialize-css/bin/materialize";

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 60vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
    position: absolute;
    top: 40%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

}

@media only screen and (max-width : 600px) {

}

.index-header__background {
    background-color: rgba(0, 0, 0, 0.1);
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.page-footer__container {
    height: 30vh;
}


.joonaspessi_section__about {
    padding-top: 5vw;
    img {
        width: 20vw;
    }
}
